<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your profile</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel='stylesheet' href='/homepage.css'>-->
    <script src="/login.js" charset="utf-8"></script>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
</head>
<body>
<nav id='nav' class="navbar fixed-top navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id='heading' class="navbar-brand" href="/">PicBook</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/profile/all">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link "  href="/about">About</a>
            </li>


        </ul>
        <form action="/upload" method="POST" enctype="multipart/form-data"  onsubmit="return validateform()" class="navbar-form form-inline">
            <input class="form-control mr-sm-2" type="file" id="inputFile" name="avatar" required >
            <input class="form-control mr-sm-2" type="text" name="story" placeholder="Add a memory" >
            <input  type="submit" class='btn btn-info' value="Share">
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>

            <li class="nav-item">
                <!--<a class="nav-link " href="/logout">Logout</a>-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile/{{currentUser}}"><img class="rounded-circle" src="{{userImage}}" height="25"/> {{currentUser}} <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link "  href="/logout">Logout</a>
            </li>

        </ul>

    </div>
</nav>
<br>
<!--<div align="center">-->
<!--Share something-->
<!--</div>-->
<!--<form action="/upload" method="POST" enctype="multipart/form-data">-->
<!--<input type="file"  name="avatar" ><br>-->
<!--<input type="text" name="story"><br>-->
<!--<input type="submit" value="Submit">-->
<!--</form>-->
<!--<hr/>-->
<!--<img src="uploa‌​ds/avatar-1501541056‌​425.png">-->
<br> <br> <br>
<div class="container" align="center">
<form action="/updateprofile" method="POST" enctype="multipart/form-data"  >
    <div class='row'>

        <div class='col-md-5'>
            <b>First Name:</b> <input type="text" name="firstname" id="fname"  value={{firstname}} required ><br><br>
        </div>
        <div class='col-md-5'>
            <b>Last Name:</b> <input type="text" name="lastname" id="lname" value={{lastname}} required><br><br>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-5'>
            <b>Age:</b> <input type="number" name="age" id="age" value={{age}} required><br><br>
        </div>
        <div class='col-md-5'>
            <b>City:</b> <input type="text" name="city" id="city" value={{city}} required><br><br>
        </div>
    </div>
    <!--<div class='row'>-->
        <!--<div class='col-md-7'>-->
            <!--<input type="text" name="username" id="username" placeholder="username" minlength="5" required><br><br>-->
        <!--</div>-->
        <!--<div class='col-md-5'>-->
            <!--<input type="password"  name="password" id="password"  placeholder="Password" minlength="8" maxlength="14" required><br><br>-->

        <!--</div>-->
    <!--</div>-->
    <div class='row'>
        <div class='col-md-5'>
           <b> Upload your profile image </b>
        </div>
        <div class='col-md-5'>
            <input type="file" id="inputFile"  name="avatar" required><br><br>

        </div>
    </div>
    <div class='row'>
        <div class='col-md-2'>
        </div>
        <div class='col-md-5'>
    <textarea rows="4" cols="50" minlength="8" name="description" id="description" placeholder="About yourself..." required></textarea><br><br>
            <input  align='center' type="submit" class="btn btn-success" value="Update profile" >
        </div>
    </div>


</form>
</div>
</body>
</html>