<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
<<<<<<< HEAD
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel='stylesheet' href='/homepage.css'>-->
    <script src="/login.js" charset="utf-8"></script>
=======
    <!--<link rel='stylesheet' href='/homepage.css'>-->
>>>>>>> 5434919c53998583315743a14392babaf008b54a
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <style>
        div.gallery {
            margin-left: 35%;
            margin-right: 35%;
            margin-bottom: 2%;
            border: 1px solid #ccc;
            float: left;
            padding-left: 0%;
            padding-right: 0%;
            padding-top: 0%;
            padding-bottom: 0%;
            /*width: 180px;*/
            /*left-align:5px*/
        }

        /*div.gallery img {*/
            /*width: 100%;*/
            /*height: auto;*/
        /*}*/

        div.desc {
            padding: 2px;
            text-align: center;
        }

    </style>
</head>
<body>
<nav id='nav' class="navbar fixed-top navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id='heading' class="navbar-brand" href="/">PicBook</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/profile/all">Users</a>
            </li>
<<<<<<< HEAD
            <li class="nav-item active">
                <a class="nav-link "  href="/about">About</a>
            </li>


        </ul>
        <form action="/upload" method="POST" enctype="multipart/form-data"  onsubmit="return validateform()" class="navbar-form form-inline">
            <input class="form-control mr-sm-2" type="file" id="inputFile" name="avatar" required >
=======


        </ul>
        <form action="/upload" method="POST" enctype="multipart/form-data" class="navbar-form form-inline">
            <input class="form-control mr-sm-2" type="file"  name="avatar" required >
>>>>>>> 5434919c53998583315743a14392babaf008b54a
            <input class="form-control mr-sm-2" type="text" name="story" placeholder="Add a memory" >
            <input  type="submit" class='btn btn-info' value="Share">
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>

<<<<<<< HEAD
=======










>>>>>>> 5434919c53998583315743a14392babaf008b54a
            <li class="nav-item">
                <!--<a class="nav-link " href="/logout">Logout</a>-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile/{{currentUser}}"><img class="rounded-circle" src="{{userImage}}" height="25"/> {{currentUser}} <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link "  href="/logout">Logout</a>
            </li>
<<<<<<< HEAD

=======
>>>>>>> 5434919c53998583315743a14392babaf008b54a
        </ul>

    </div>
</nav>
<br>
<!--<div align="center">-->
<!--Share something-->
<!--</div>-->
<!--<form action="/upload" method="POST" enctype="multipart/form-data">-->
    <!--<input type="file"  name="avatar" ><br>-->
    <!--<input type="text" name="story"><br>-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->
<!--<hr/>-->
<!--<img src="uploa‌​ds/avatar-1501541056‌​425.png">-->
<<<<<<< HEAD
<br> <br> <br>
{{#if havingFriends}}

=======

{{#if havingFriends}}
>>>>>>> 5434919c53998583315743a14392babaf008b54a
    {{#each data as |post|}}

        <div class="gallery" align="center">
            <div class="desc">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/profile/{{post.postedBy}}"> <img class="rounded-circle" src="/profile/{{post.postedByImage}}" height="75" ></a>
                    </div>
                    <div class="col-md-8">
<<<<<<< HEAD
                        <font size="5"> <a href="/profile/{{post.postedBy}}" STYLE="text-decoration: none;">{{ post.postedBy }}</a></font>
=======
                        <font size="5"> <a href="/profile/{{post.postedBy}}">{{ post.postedBy }}</a></font>
>>>>>>> 5434919c53998583315743a14392babaf008b54a
                    </div>
                </div>
            </div>
            <hr/>
            <a href="/posts/{{post._id}}"><img  src= "{{post.image}}" width="550" ></a>
            <hr/>
            <font size="5"><div class="desc">{{ post.story }}</div></font>
<<<<<<< HEAD
            <a href="/posts/{{post._id}}"STYLE="text-decoration: none;"  ><i>Comments</i></a>
=======
            <a href="/posts/{{post._id}}"><i>See the comments</i></a>
>>>>>>> 5434919c53998583315743a14392babaf008b54a
        </div>

    {{/each}}

{{else}}
<<<<<<< HEAD

=======
    <br>
>>>>>>> 5434919c53998583315743a14392babaf008b54a
    <div class="container">
        <h2 align="center">It looks kind of lonely here in here.<br>
            &#9700 Click on the Users tab to see all the users .
            <br>Visit there profiles if you want to follow them.
            <br><p align="center">Add you memories here &#9650</p><p align="center">Happy Sharing :)</p>
            <img src="/happiness.jpg" />
<<<<<<< HEAD
            <p align="center"><i>and a memory...</i></p>
=======
            <h2 align="center">and a memory...</h2>
>>>>>>> 5434919c53998583315743a14392babaf008b54a

    </h2>
    </div>
{{/if}}
</body>
</html>


