<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postpage</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/login.js" charset="utf-8"></script>
    <script src="/js/login.js" charset="utf-8"></script>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
</head>
<body>
<nav id='nav' class="navbar fixed-top navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id='heading' class="navbar-brand" href="/">PicBook</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/profile/all">Users</a>
            </li>


        </ul>
        <form action="/upload" method="POST" enctype="multipart/form-data"  onsubmit="return validateform()" class="navbar-form form-inline">
            <input class="form-control mr-sm-2" type="file" id="inputFile" name="avatar" required >
            <input class="form-control mr-sm-2" type="text" name="story" placeholder="Add a memory" >
            <input  type="submit" class='btn btn-info' value="Share">
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout"></a>
            </li>


            <li class="nav-item">
                <!--<a class="nav-link " href="/logout">Logout</a>-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile/{{currentUser}}">{{currentUser}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link "  href="/logout">Logout</a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br><br><br>
<div align="center">
    <img  src= "{{data.image}}" height="400"  ><br><br>
    {{numberOfLikes}} likes<br>
    {{#if isLiked}}
        <button class='btn btn-success' disabled>Liked</button>
    {{else}}
        <form action="/like" method="post">
            <input type="hidden" name="postId" value={{data._id}} />
            <input  type='submit' class='btn btn-success' value='Like'>
        </form>
    {{/if}}
    <br>
    <font size="5">{{data.story}}</font>
    <hr/>
    <form action="/comment" method="POST" >
        <input  type="text" name="comment" placeholder="Comment here" size="40">
        <input type="hidden" name="postId" value={{data._id}} />
        <input class=" btn btn-info" type="submit" value="Add Comment">
    </form>
    <br>
    {{#each commentsData as |comment|}}
        <div class="well">
            <font size="4"> <a href="/profile/{{comment.by}}">{{comment.by}} </a> {{comment.body}} </font>
        </div>

    {{/each}}
</div>
</body>
</html>